
body {
    background-color: white;
  }

.container {
    position: relative;
    text-align: center;
    color: white;
    margin:0px;
    }
      


.bg-img-title {

    width:100%; 
    filter: brightness(100%);
}



.title {
    font-family:Arial; 
    font-size:5vw;
    font-weight: bold;
    position: absolute;
    top: 55%;
    left: 5%;
    right: 5%;
    text-align:left; 
    }





/* Background images and Text - MEDIA responsive  */


/* Desktop version */ 



.header_left {
    font-family:Arial; 
    font-size: calc( 24px + 2vw);
    font-weight: bold;
    position: absolute;
    top: 4%;
    left: 5%;
    right: 30%;
    text-align:left; 

}
.header_right {
    font-family:Arial; 
    font-size: calc( 24px + 2vw);
    font-weight: bold;
    position: absolute;
    top: 10%;
    left: 40%;
    text-align:left; 

}



.img-text-left {
    font-family:Helvetica; 
    position: absolute;
    font-size: calc( 14px + 1.2vw) ;
    top: 15%;
    right: 30%;
    left: 5%;
    text-align:left; 
    }


.img-text-right {
    font-family:Helvetica; 
    position: absolute;
    font-size:calc( 14px + 1.2vw) ;
    top: 15%;
    right: 5%;
    left: 40%;
    text-align:left; 
    }


.bg-img-project {
    min-height: 1200px;
    width:100%;
    object-fit: cover;
    filter: brightness(50%);
}


.bg-img-importance {
    min-height: 1200px;
    width:100%;
    object-fit: cover;
    filter: brightness(50%);
}




/*  Mobile version     */

@media only screen and (max-width: 600px) {

    .header_left {
        font-family:Arial; 
        font-size: calc( 24px + 2vw);
        font-weight: bold;
        position: absolute;
        top: 4%;
        left: 5%;
        right: 5%;
        text-align:left; 
    
    }
    .header_right {
        font-family:Arial; 
        font-size: calc( 24px + 2vw);
        font-weight: bold;
        position: absolute;
        top: 10%;
        left: 5%;
        text-align:left; 
    
    }
    


    .img-text-left {
        font-family:Helvetica; 
        position: absolute;
        font-size: calc( 14px + 1.2vw) ;
        top: 15%;
        right: 5%;
        left: 5%;
        text-align:left; 
        }
    
    
    .img-text-right {
        font-family:Helvetica; 
        position: absolute;
        font-size:calc( 14px + 1.2vw) ;
        top: 15%;
        right: 5%;
        left: 5%;
        text-align:left; 
        }
    
    
    .bg-img-project {
        min-height: 1000px;
        width:100%;
        object-fit: cover;
        filter: brightness(50%);
    }
    
    
    .bg-img-importance {
        min-height: 1000px;
        width:100%;
        object-fit: cover;
        filter: brightness(50%);
    }




} 













/* FORMS */

.form{
    padding: 2%
}

.form-header{
    font-family:Arial; 
    font-size: calc( 20px + 2vw);
    font-weight: bold;
    color: #262626;
    padding: 2%;
    padding-left: 10%;
    padding-right: 10%;
    }

.form-intro-text{
    font-family:Arial; 
    font-size: calc( 14px + 1.2vw);
    color: #363636;
    padding-bottom:2%;
    padding-left: 10%;
    padding-right: 10%;

    }


iframe {
    display: block;
    border-style:none;
    margin: 0 auto;
    background-color: #e4f3e5;
}






/* PARTNER LOGOS */


* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: Helvetica;
  }
 
  


.row {
    display: -ms-flexbox; /* IE10 */
    -ms-flex-pack: center;
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 0 10px;
    }

/* Create two equal columns that sits next to each other */
/* Left col */

.leftcolumn {
    -ms-flex: 50%; /* IE10 */
    flex: 50%;
    max-width: 50%;
    padding-left:  5%;
    padding-top:  5%;
    padding-bottom:  5%;
  }
  
  .leftcolumn img {
    vertical-align: middle;
    width: 90%;
    max-width: 500px;
  }


/* Right col */
.rightcolumn {
    -ms-flex: 50%; /* IE10 */
    flex: 50%;
    max-width: 50%;
    padding-right:  5%;
    padding-top:  5%;
    padding-bottom:  5%;

   }
  
  .rightcolumn img {
    vertical-align: middle;
    width: 90%;
    max-width: 500px;
   
  }