
.container {
    position: relative;
    text-align: center;
    color: white;
    margin:0px;
    }
      

.title {
    font-family:Arial; 
    font-size:5vw;
    font-weight: bold;
    position: absolute;
    top: 55%;
    left: 5%;
    right: 5%;
    text-align:left; 
    }


.header_left {
    font-family:Arial; 
    font-size: calc( 20px + 2vw);
    font-weight: bold;
    position: absolute;
    top: 5%;
    left: 5%;
    right: 30%;
    text-align:left; 

}
.header_right {
    font-family:Arial; 
    font-size: calc( 20px + 2vw);
    font-weight: bold;
    position: absolute;
    top: 10%;
    left: 40%;
    text-align:left; 

}



.img-text-left {
    font-family:Helvetica; 
    position: absolute;
    font-size: calc( 12px + 0.8vw) ;
    top: 20%;
    right: 30%;
    left: 5%;
    text-align:left; 
    }


.img-text-right {
    font-family:Helvetica; 
    position: absolute;
    font-size:calc( 12px + 0.8vw) ;
    top: 20%;
    right: 5%;
    left: 40%;
    text-align:left; 
    }






/* Background images  */

.bg-img-title {
    height: 100%;
    object-fit: fill;
}


.bg-img-project {
    min-height: 800px;
    width:100%;
    object-fit: cover;
    filter: brightness(50%);
}

.bg-img-importance {
    min-height: 1100px;
    width:100%;
    object-fit: cover;
    filter: brightness(50%);
}





/* FORMS */

.form-header{
    font-family:Arial; 
    font-size: 3vw;
    font-weight: bold;
    padding: 2%;
    padding-left: 15%;
    padding-right: 15%;
    }

.form-intro-text{
    font-family:Arial; 
    font-size: calc( 12px + 1vw);
    padding-bottom:2%;
    padding-left: 15%;
    padding-right: 15%;
    

    }


iframe {
    display: block;
    border-style:none;
    margin: 0 auto;
    background-color: #777;
}





/* PARTNER LOGOS */


* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: Helvetica;
  }
 
  


.row {
    display: -ms-flexbox; /* IE10 */
    -ms-flex-pack: center;
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 0 10px;
    }

/* Create two equal columns that sits next to each other */
/* Left col */

.leftcolumn {
    -ms-flex: 50%; /* IE10 */
    flex: 50%;
    max-width: 50%;
    padding-left:  5%;
    padding-top:  5%;
    padding-bottom:  5%;
  }
  
  .leftcolumn img {
    vertical-align: middle;
    width: 90%;
    max-width: 500px;
  }


/* Right col */
.rightcolumn {
    -ms-flex: 50%; /* IE10 */
    flex: 50%;
    max-width: 50%;
    padding-right:  5%;
    padding-top:  5%;
    padding-bottom:  5%;

   }
  
  .rightcolumn img {
    vertical-align: middle;
    width: 90%;
    max-width: 500px;
   
  }